<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>

<div class="ui container">
  <div class="ui basic segment">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui form' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: 'ui primary button' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>
