<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>

<div class="ui container">
  <div class="ui basic segment">
    <%= link_to 'Edit', edit_admin_district_path(@district), class: 'ui right floated button' %>
    <h1 class="ui left floated header"><%= @district.distname %></h1>
    <table class="ui striped table">
      <thead>
        <tr>
          <th>District</th>
          <th>Number of Surveys</th>
          <th>Is Active</th>
          <th>Batch Entry</th>
        </tr>
      </thead>
      <tbody>
        <% @district.schools.each do |school| %>
          <tr>
            <td>
              <%= link_to school.name, school %>
            </td>
            <td>
              <%= school.surveys.count %>
            </td>
            <td>
              <%= school.has_active_survey? %>
            </td>
            <td>
              <%= link_to 'Begin Entry', new_school_survey_response_path(school.id) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>