<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>
<br/>
<div class="ui container">
  <div class="ui segment">
    <h1 class="ui header"><%= _("Travel to School Survey") %></h1>

    <h4><%= _("Dear Parent or Guardian,") %></h4>

    <p><%= _("Your child’s school is conducting a survey to learn how students get to and from school. This information  will be used to plan safe and healthy transportation choices for all students. The survey will take less than 3 minutes to complete. All responses are voluntary and confidential. ") %></p>
    <ul>
      <li><%= _('If more than one child attends this school, use the "Add Another Child" feature to report additional students. ') %></li>
      <li><%= _("If a child's home location or commute is not the same every day, choose the option that reflects the most common location and travel pattern.") %></li>
      <li><%= _("If you already completed a paper survey, do not complete this online form. ") %></li>
      <li><%= _("If you have questions, please contact a school administrator or call Safe Routes to School at 857-368-8638.") %></li>
    </ul>
    </p>

    <p><%= _("We appreciate your time and effort!") %></p>
  </div>
  <div class="ui basic segment">
    <%= form_for @survey.survey_responses.new do |f| %>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
      <div class="field" id="root"><div id="map-container"></div></div>
      <script type="text/javascript">
        window.muni_id = <%= @survey.school.muni_id %>;
        window.school = { lat: <%= @survey.school.wgs84_lat %>, lng: <%= @survey.school.wgs84_lng %> };
      </script>
      <%= javascript_include_tag "react_modules/intersectingstreets.min.js" %>
      <%= f.hidden_field :survey_id, value: @survey.id %>
      <%= f.submit 'Submit Survey' %> 
    <% end %>
  </div>
</div>
