<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>

<div class="ui container">
  <div class="ui basic segment">
    <%= form_for @survey.survey_responses.new do |f| %>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
      <div class="field" id="root"><div id="map-container"></div></div>
      <script type="text/javascript">
        window.muni_id = <%= @survey.school.muni_id %>
      </script>
      <%= javascript_include_tag "react_modules/intersectingstreets.min.js" %>
      <%= f.hidden_field :survey_id, value: @survey.id %>
      <%= f.submit 'Submit Survey' %> 
    <% end %>
  </div>
</div>