<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>
<div class="ui container">
  <div class="ui basic segment">
    <div class="ui clearing basic segment">
      <%= link_to 'Edit', edit_admin_school_path(@school), class: 'ui right floated button' %>
        <h1 class="ui left floated header"><%= @school.district.distname %>, <%= @school.name %></h1>
    </div>
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui segment">
          <h2 class="ui header">Summary</h2>
          <div class="ui list">
            <div class="item">
              <%= @school.recent_surveys_since %> surveys in past 24 hours
            </div>
            <div class="item">
              <%= @school.recent_surveys_since(1.week.ago) %> surveys in past week
            </div>
            <div class="item">
              <%= @school.total_surveys %> total surveys
            </div>
            <div class="item">
              <%= @school.has_active_survey? ? 'Survey is active' : 'No active surveys' %>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <h2 class="ui header">Paper Surveys</h2>
          <p>For paper survey templates and other resources for a successful survey, visit the District Resources page.</p>
        </div>
      </div>
      <div class="twelve wide column">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
        <div id="root"></div>
        <script type="text/javascript">
        window.endpoint = '/schools/<%= @school.id %>.json';
        </script>
        <%= javascript_include_tag "react_modules/schoolmap.min.js" %>
          <h3 class="ui header">Surveys</h3>
          <table class="ui striped table">
            <thead>
              <tr>
                <th>Responses</th>
                <th>Status</th>
                <th>Report</th>
                <th>Begin</th>
                <th>End</th>
              </tr>
            </thead>
            <tbody>
              <% @school.surveys.each do |survey| %>
                <tr>
                  <td>
                    <%= survey.survey_responses.count %>
                  </td>
                  <td>
                    <% if survey.try(:begin) and survey.try(:end) %>
                      <% if Time.now >= survey.begin and Time.now <= survey.end %>
                        <%= link_to 'In Progress', survey_path(survey) %>
                          <% else %>
                            Finished
                            <% end %>
                              <% end %>
                  </td>
                  <td>
                    <%= link_to 'View', show_report_survey_path(survey), target: '_blank' %>
                  </td>
                  <td>
                    <%= survey.begin %>
                  </td>
                  <td>
                    <%= survey.end %>
                  </td>
                </tr>
                <% end %>
            </tbody>
          </table>
          <h3 class="ui header">Create New Survey</h3>
          <%= form_for Survey.new, html: { class: 'ui form' } do |f| %>
            <div class="field">
              <label>Survey Begin Date</label>
              <input type="text" name="survey[begin]" class='datepicker'>
            </div>
            <div class="field">
              <label>Survey End Date</label>
              <input type="text" name="survey[end]" class='datepicker'>
            </div>
            <%= f.hidden_field :school_id, value: @school.id %>
              <%= f.submit 'Submit Survey', class: "ui button" %>
                <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'layouts/footer' %>
