<div class="ui inverted vertical center aligned segment">
  <%= render partial: 'layouts/menu' %>
</div>
<br/>
<div class="ui container">
  <div class="ui segment">
    <h1>New Survey Response</h1>

    <% if @survey_response.school.surveys.count > 0 %>
      <%= form_for @survey_response do |f| %>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
        <div class="field surveyFormBox" id="root">
          <div id="map-container"></div>
        </div>
        <div><p>Select Survey by Begin Date</p></div>
        <div class="ui selection dropdown noreact">
          <input type="hidden" name="survey_response[survey_id]">
          <i class="dropdown icon"></i>
          <div class="default text">Select Survey by Begin Date</div>
          <div class="menu">
            <%- @survey_response.school.surveys.each do |survey| %>
              <div class="item" data-value="<%= survey.id %>"><%= survey.begin %></div>
            <% end %>
            <script type="text/javascript">
              window.school = { lat: <%= @school.wgs84_lat %>, lng: <%= @school.wgs84_lng %> }
              window.survey_id = document.querySelector('[name="survey_response[survey_id]"]').getAttribute("value")
              console.log(window.survey_id)
            </script>
            <%= javascript_pack_tag 'components' %>
            <%= stylesheet_pack_tag 'components' %>
            <%= javascript_include_tag 'application' %>
          </div>
        </div>
        <div class="button">
          <%= f.submit 'Submit Survey' %>
        </div>
      <% end %>
    <% else %>
      This school has no surveys. <%= link_to 'Create one here.', school_path(@survey_response.school) %>
    <% end %>
  </div>
</div>
