<h1>New Survey Response</h1>

<% if @survey_response.school.surveys.count > 0 %>
  <%= form_for @survey_response do |f| %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
    <div class="field" id="root"><div id="map-container"></div></div>
    <script type="text/javascript">
      window.muni_id = <%= @survey_response.school.muni_id %>;
      window.school = { lat: <%= @survey_response.school.wgs84_lat %>, lng: <%= @survey_response.school.wgs84_lng %> };
    </script>
    <%= javascript_include_tag "react_modules/intersectingstreets.min.js" %>
    <div class="ui selection dropdown noreact">
      <input type="hidden" name="survey_response[survey_id]">
      <i class="dropdown icon"></i>
      <div class="default text">Select Survey by Begin Date</div>
      <div class="menu">
        <%- @survey_response.school.surveys.each do |survey| %>
          <div class="item" data-value="<%= survey.id %>"><%= survey.begin %></div>
        <% end %>
      </div>
    </div>
    <%= f.submit 'Submit Survey' %> 
  <% end %>
<% else %>
  This school has no surveys. <%= link_to 'Create one here.', school_path(@survey_response.school) %>
<% end %>
