<div class="ui inverted vertical masthead center aligned segment">

  <%= render partial: 'layouts/menu' %>

  <div class="ui container jumbo-layout">
    <div class="row">

      <div class="main-column">
        <h1 class="ui inverted header">
          Massachusetts Safe Routes to School Parent Survey
        </h1>
      </div>

      <div class="sub-column">
        <p>
          <%= _('Would you like to help create safe routes to school for students in your community?') %>
        </p>
        <p>
          <%= _("The survey takes less than 3 minutes and will help your school plan for more transportation choices. All responses are voluntary and confidential.") %>
        </p>
        <div class="ui equal width stackable internally celled grid">
          <div class="aligned">

            <%- if districts.count < 1 %>

              <div class="column">
                <div class="ui center aligned disabled header">
                  No Active Surveys
                </div>
              </div>

            <%- else %>

              <div class="selection-wrapper">
                <h3><%= _("Please select your school district") %></h3>
                <div id="select-brand" class="ui fluid selection dropdown">
                  <input type="hidden" name="brand">
                  <i class="dropdown icon"></i>
                  <div class="default text">District</div>
                  <div class="menu">
                    <% active_districts.each do |district| %>
                      <div class="item" data-value=<%= district[:value] %>> <%= district[:name] %> </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div id="select-model-wrapper" class="selection-wrapper">
                <h3><%= _("Please select your school") %></h3>
                <div id="select-model" class="ui fluid selection dropdown">
                  <input type="hidden" name="brand">
                  <i class="dropdown icon"></i>
                  <div class="default text">School</div>
                  <div class="menu">
                  </div>
                </div>
              </div>

            <%- end %>

          </div>
        </div>
      </div><!--/ .column-3 -->

    </div><!--/ .row -->
  </div>

</div>

<script type="text/javascript">
  var options =
    <%= nest_for_menus %>


  $('#select-brand').dropdown({
    onChange: function(value, text, $selectedItem) {
      var $selectModel = $('#select-model'),
          selectModelWrapper = document.querySelector('#select-model-wrapper');

      if (text) {
        var $menu = $selectModel.find('.menu');

        options.schools[text].forEach(function(option) {
          $menu.append('<a href="surveys/' +  option.value + '" class="item" data-value="' + option.value + '">' + option.name + '</a>');
        });

        selectModelWrapper.style.display = 'block';
      }
      else {
        selectModelWrapper.style.display = 'none';
      }

      $selectModel.dropdown({
        onChange: function(value, text) {
          $('#select-brand').dropdown('restore defaults');
        }
      });
    }
  });
</script>
