<div class="ui container">
  <div class="ui large inverted menu">
    <%= link_to 'Home', root_path, class: 'header item' %>
    <div class="item">
      Select Language:
    </div>
    <% alternate_locales.each do |lang| %>
      <%= link_to lang[:verbose], root_path({ locale: lang[:code] }), class: 'item' %>
    <% end %>
  </div>
  <div class="ui small secondary inverted menu">
    <% if current_user %>
      <%= link_to 'Districts', districts_path, class: 'item' %>
      <%= link_to 'Administration', admin_districts_path, class: 'item' %>
      <%= link_to 'District Resources', district_resources_path, class: 'item' %>
    <% end %>
    <div class="right menu">
      <% if current_user.nil? %>
        <%= link_to 'Administrator Sign In', new_user_session_path, class: 'item' %>
      <% else %>
        <%= link_to 'Profile', edit_user_registration_path, class: 'item' %>
        <%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'item' %>
      <% end %>
    </div>
  </div>
</div>
