<div class="ui container">
  <div class="ui large secondary inverted menu">
    <%= link_to 'Home', root_path, class: 'item' %>
    <% if current_user %>
      <%= link_to 'Districts', districts_path, class: 'item' %>
    <% end %>
    <% if current_user %>
      <%= link_to 'Administration', admin_districts_path, class: 'item' %>
    <% end %>
    <div class="right menu">
      <% if current_user.nil? %>
        <%= link_to 'Sign In', new_user_session_path, class: 'item' %>
      <% else %>
        <%= link_to 'Profile', edit_user_registration_path, class: 'item' %>
        <%= link_to 'Log Out', destroy_user_session_path, method: 'delete', class: 'item' %>
      <% end %>
    </div>
  </div>
  <div class="ui small secondary inverted menu">
    <% alternate_locales.each do |lang| %>
      <%= link_to _(lang[:verbose]), { locale: lang[:code] }, class: 'item' %>
    <% end %>
  </div>
</div>
