<!DOCTYPE html>
<html>
  <head>
    <title>Myschoolcommute2</title>
    <meta name="intersecting-streets/config/environment" content="%7B%22modulePrefix%22%3A%22intersecting-streets%22%2C%22environment%22%3A%22development%22%2C%22rootURL%22%3A%22/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22intersecting-streets%22%2C%22version%22%3A%220.0.0+cb8f42a0%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <!-- Page Contents -->
    <%= notice %>
    <%= alert %>
    <%= yield %>

    

  </body>
</html>
